/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
html, body {height: 100%;}

/* Modal */
.modal-xl {max-width: 95% !important;}

/* Fonts */
.font-family-montserrat {font-family: 'Montserrat', sans-serif;}
.font-family-lobster {font-family: 'Lobster', cursive;}

/* Color Text */
.text-dark-grey {color:#747474;}

/* Color Scheme */
.bg-green {background-color: #9EDCBF;}
.bg-purple {background-color: #563d7c;}

/* Font-Sizes */
.font-size-15px {font-size:15px;}
.font-size-110 {font-size:110%;}
.font-size-150 {font-size:150%;}

/* Borders */
.warning {border: 1px solid red;}
.border-bottom-1-green {
    border-bottom: 1.5px solid #8EC6AC;
    padding: 5px;
}

/* Links */
.cursor-pointer {cursor:pointer;}

/* Margin */
.mt-60px {margin-top:60px;}
.mr-15px {margin-right:15px;}

/* Width */
.w-90 {width:90%;}
.w-95 {width:95%;}
.w-35px {width:35px;}
.w-84px {width:84px;}
.w-200px {width:200px;}

/* Height */
.h-40px {height:40px;}
.h-50px {height:50px;}
.h-35px {height:35px;}

/* Hover */
.main-link:hover {background-color:#473266;}

/* CUSTOM */
.span-ajuda {
    display: none;
    font-size: 0.9em;
}

#modal_body_novo_usuario > label {
    margin: 10px 0 10px 0;
}